<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ml.dcxo.x.obwei">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

	<application
		android:name=".Obwei"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:resizeableActivity="false"
		android:theme="@style/Obwei">

		<activity
			android:name=".ui.UniqueActivity"
			android:windowSoftInputMode="adjustPan"
			android:screenOrientation="portrait"
			android:resizeableActivity="false">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.MUSIC_PLAYER" />

				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.APP_MUSIC"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.APP_MUSIC"/>

				<data
					android:scheme="file"
					android:mimeType="audio/*"/>

			</intent-filter>

		</activity>

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />

		<service android:name=".service.MusicService" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON"/>
			</intent-filter>
		</service>

	</application>

</manifest>